@{
    this.ViewData["Title"] = "Privacy Policy";
}
<div align="center">
    <h1>@this.ViewData["Title"]</h1>
</div>
<p>
    NineJoke Limited is a media company.  Our mission is to make the world happier.

    The NineJoke services that link to this Privacy Policy provide fun ways for you to create, share, and discover the best content in the world.

    When you use these services, you’ll share some information with us. We want to explain clearly what information we collect, why we collect it, how we use it, whom we share it with, and the controls we give you to access, update, and delete your information.

    That’s why we’ve written this Privacy Policy. We tried to write it in simple language with minimal legalese so it’s easy for you to understand.
</p>

<div align="center">
    <h3>How We Collect Information</h3>
</div>

<div align="center">
    <h5>Information You Choose To Give Us</h5>
</div>

<p>
    When you use and interact with our services, we collect the information you choose to share with us. For example, most of our services require you to set up a basic NineJoke account, so we need to collect a few important details about you, such as: a unique username you choose, a password, an e-mail address, and your date of birth. To make it easier for others to find you, we may also ask you to provide us additional information that will be publicly visible on our services, for example a profile picture, a name, or other identifiable information. Our other services, such as commerce products, may also require you to provide us with a debit card or credit card number and its associated account information.

    You’ll also provide any information you send through our services, such as post and comment uploads. Keep in mind that the posts and comments you upload can be seen publicly, and can always be saved and copied outside of our services. Please don’t share content you wouldn’t want someone to save or share.

    Lastly, when you contact us or communicate with us in any way, we’ll collect any information you give us.
</p>
