@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<style>
    .vertical-menu {
        width: 200px;
    }

        .vertical-menu a {
            background-color: white;
            color: black;
            display: block;
            padding: 12px;
            text-decoration: none;
        }

            .vertical-menu a:hover {
                background-color: #ccc;
            }


            .vertical-menu a.active {
                background-color: #1542ef;
                color: white;
            }
</style>



<div style="float:left;" class="vertical-menu">
    <a href="#" class="active">Categories</a>
    @foreach (var category in Model.Categories)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-id="@category.Id">@category.Name</a>
    }
</div>