@{ 
    var Id = Url.ActionContext.RouteData.Values;
}

<style>
    .vertical-menu {
        width: 200px;
    }

        .vertical-menu a {
            background-color: white;
            color: black;
            display: block;
            padding: 12px;
            text-decoration: none;
        }

            .vertical-menu a:hover {
                background-color: #ccc;
            }


            .vertical-menu a.active {
                background-color: #1542ef;
                color: white;
            }
</style>

<div style="float:left;">
    <div class="vertical-menu">
        <a asp-controller="Home" asp-action="Index" asp-route-sort="Popular">Popular</a>
        <a asp-controller="Home" asp-action="Index" asp-route-sort="New">New</a>
        <hr style="border-width: 3px;"/>
    </div>

    <div  class="vertical-menu">
        <a href="#" class="active">Categories</a>
        @foreach (var category in Model.Categories)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-id="@category.Id">@category.Name</a>
        }
    </div>
</div>