
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<nav align="center" class="navbar navbar-expand-lg navbar-light pt-0 pb-0">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-link font-weight-bold">
                <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="UserPosts">Posts</a>
            </li>
            <li class="nav-item nav-link font-weight-bold">
                <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="UserComments">Comments</a>
            </li>
            <li class="nav-item nav-link font-weight-bold">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Лични данни</a>
            </li>
        </ul>
    </div>
</nav>

<hr style="border-width: 5px;">